@import 'tailwindcss';

@config '../../tailwind.config.ts';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* dictionary-page */

.toggle-visible-children-on-hover button {
  display: none;
}
.toggle-visible-children-on-hover div:nth-child(1) {
  display: flex;
}
.toggle-visible-children-on-hover:hover button {
  display: flex;
}
.toggle-visible-children-on-hover:hover div:nth-child(2) {
  display: none;
}

/* dictionary-page */
